*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #548687;
    text-align: center;
}
h1{
    text-decoration:underline;
}

.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    background-color: aqua;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background: #1d1c1c;
    color: #fff;
    border-radius: 1rem;
    border: none;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background: #1d1c1c;
    color: #fff;
    border-radius: 1rem;
    border: none;
}
.msg-container{
    height: 25vmin;
}
.hide{
    display: none;
}
#msg{
    font-size: 2rem;
    color: darkred;
}